@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body{
background-color: lightblue;
}

h1,h2 {
    color: white;
    text-align: center;
}

p,div {
    font-family: "Permanent Marker", cursive;
    font-size: 30px;
    padding: 25px 25px 25px 25px;  
    margin: 25px 25px 25px 25px;  
}

